:root {
  --draaiplaat-kleur: rgb(160, 160, 160);
  --lp-kleur: #0d0d0d;
  --body-speler-kleur: #99582a;
  --snelheid-plaat: 1s;
  /* --sound-height: 100%; */
  --sound-hoogte-2: 60%;
  --sound-speed1: 5s;
  --sound-speed2: 4.5s;

  --kleur-opties: #443730;


  --innerR:48%;

  --thingie12: polygon(
        calc(50% + 50% * sin(0deg)) calc(50% - 50% * cos(0deg)),
        calc(50% + 50% * sin(2deg)) calc(50% - 50% * cos(2deg)),
        calc(50% + var(--innerR) * sin(4deg)) calc(50% - var(--innerR) * cos(4deg)),
        calc(50% + 50% * sin(6deg)) calc(50% - 50% * cos(6deg)),
        calc(50% + 50% * sin(8deg)) calc(50% - 50% * cos(8deg)),
        calc(50% + var(--innerR) * sin(10deg)) calc(50% - var(--innerR) * cos(10deg)),
        calc(50% + 50% * sin(12deg)) calc(50% - 50% * cos(12deg)),
        calc(50% + 50% * sin(14deg)) calc(50% - 50% * cos(14deg)),
        calc(50% + var(--innerR) * sin(16deg)) calc(50% - var(--innerR) * cos(16deg)),
        calc(50% + 50% * sin(18deg)) calc(50% - 50% * cos(18deg)),
        calc(50% + 50% * sin(20deg)) calc(50% - 50% * cos(20deg)),
        calc(50% + var(--innerR) * sin(22deg)) calc(50% - var(--innerR) * cos(22deg)),
        calc(50% + 50% * sin(24deg)) calc(50% - 50% * cos(24deg)),
        calc(50% + 50% * sin(26deg)) calc(50% - 50% * cos(26deg)),
        calc(50% + var(--innerR) * sin(28deg)) calc(50% - var(--innerR) * cos(28deg)),
        calc(50% + 50% * sin(30deg)) calc(50% - 50% * cos(30deg)),
        calc(50% + 50% * sin(32deg)) calc(50% - 50% * cos(32deg)),
        calc(50% + var(--innerR) * sin(34deg)) calc(50% - var(--innerR) * cos(34deg)),
        calc(50% + 50% * sin(36deg)) calc(50% - 50% * cos(36deg)),
        calc(50% + 50% * sin(38deg)) calc(50% - 50% * cos(38deg)),
        calc(50% + var(--innerR) * sin(40deg)) calc(50% - var(--innerR) * cos(40deg)),
        calc(50% + 50% * sin(42deg)) calc(50% - 50% * cos(42deg)),
        calc(50% + 50% * sin(44deg)) calc(50% - 50% * cos(44deg)),
        calc(50% + var(--innerR) * sin(46deg)) calc(50% - var(--innerR) * cos(46deg)),
        calc(50% + 50% * sin(48deg)) calc(50% - 50% * cos(48deg)),
        calc(50% + 50% * sin(50deg)) calc(50% - 50% * cos(50deg)),
        calc(50% + var(--innerR) * sin(52deg)) calc(50% - var(--innerR) * cos(52deg)),
        calc(50% + 50% * sin(54deg)) calc(50% - 50% * cos(54deg)),
        calc(50% + 50% * sin(56deg)) calc(50% - 50% * cos(56deg)),
        calc(50% + var(--innerR) * sin(58deg)) calc(50% - var(--innerR) * cos(58deg)),
        calc(50% + 50% * sin(60deg)) calc(50% - 50% * cos(60deg)),
        calc(50% + 50% * sin(62deg)) calc(50% - 50% * cos(62deg)),
        calc(50% + var(--innerR) * sin(64deg)) calc(50% - var(--innerR) * cos(64deg)),
        calc(50% + 50% * sin(66deg)) calc(50% - 50% * cos(66deg)),
        calc(50% + 50% * sin(68deg)) calc(50% - 50% * cos(68deg)),
        calc(50% + var(--innerR) * sin(70deg)) calc(50% - var(--innerR) * cos(70deg)),
        calc(50% + 50% * sin(72deg)) calc(50% - 50% * cos(72deg)),
        calc(50% + 50% * sin(74deg)) calc(50% - 50% * cos(74deg)),
        calc(50% + var(--innerR) * sin(76deg)) calc(50% - var(--innerR) * cos(76deg)),
        calc(50% + 50% * sin(78deg)) calc(50% - 50% * cos(78deg)),
        calc(50% + 50% * sin(80deg)) calc(50% - 50% * cos(80deg)),
        calc(50% + var(--innerR) * sin(82deg)) calc(50% - var(--innerR) * cos(82deg)),
        calc(50% + 50% * sin(84deg)) calc(50% - 50% * cos(84deg)),
        calc(50% + 50% * sin(86deg)) calc(50% - 50% * cos(86deg)),
        calc(50% + var(--innerR) * sin(88deg)) calc(50% - var(--innerR) * cos(88deg)),
        calc(50% + 50% * sin(90deg)) calc(50% - 50% * cos(90deg)),
        calc(50% + 50% * sin(92deg)) calc(50% - 50% * cos(92deg)),
        calc(50% + var(--innerR) * sin(94deg)) calc(50% - var(--innerR) * cos(94deg)),
        calc(50% + 50% * sin(96deg)) calc(50% - 50% * cos(96deg)),
        calc(50% + 50% * sin(98deg)) calc(50% - 50% * cos(98deg)),
        calc(50% + var(--innerR) * sin(100deg)) calc(50% - var(--innerR) * cos(100deg)),
        calc(50% + 50% * sin(102deg)) calc(50% - 50% * cos(102deg)),
        calc(50% + 50% * sin(104deg)) calc(50% - 50% * cos(104deg)),
        calc(50% + var(--innerR) * sin(106deg)) calc(50% - var(--innerR) * cos(106deg)),
        calc(50% + 50% * sin(108deg)) calc(50% - 50% * cos(108deg)),
        calc(50% + 50% * sin(110deg)) calc(50% - 50% * cos(110deg)),
        calc(50% + var(--innerR) * sin(112deg)) calc(50% - var(--innerR) * cos(112deg)),
        calc(50% + 50% * sin(114deg)) calc(50% - 50% * cos(114deg)),
        calc(50% + 50% * sin(116deg)) calc(50% - 50% * cos(116deg)),
        calc(50% + var(--innerR) * sin(118deg)) calc(50% - var(--innerR) * cos(118deg)),
        calc(50% + 50% * sin(120deg)) calc(50% - 50% * cos(120deg)),
        calc(50% + 50% * sin(122deg)) calc(50% - 50% * cos(122deg)),
        calc(50% + var(--innerR) * sin(124deg)) calc(50% - var(--innerR) * cos(124deg)),
        calc(50% + 50% * sin(126deg)) calc(50% - 50% * cos(126deg)),
        calc(50% + 50% * sin(128deg)) calc(50% - 50% * cos(128deg)),
        calc(50% + var(--innerR) * sin(130deg)) calc(50% - var(--innerR) * cos(130deg)),
        calc(50% + 50% * sin(132deg)) calc(50% - 50% * cos(132deg)),
        calc(50% + 50% * sin(134deg)) calc(50% - 50% * cos(134deg)),
        calc(50% + var(--innerR) * sin(136deg)) calc(50% - var(--innerR) * cos(136deg)),
        calc(50% + 50% * sin(138deg)) calc(50% - 50% * cos(138deg)),
        calc(50% + 50% * sin(140deg)) calc(50% - 50% * cos(140deg)),
        calc(50% + var(--innerR) * sin(142deg)) calc(50% - var(--innerR) * cos(142deg)),
        calc(50% + 50% * sin(144deg)) calc(50% - 50% * cos(144deg)),
        calc(50% + 50% * sin(146deg)) calc(50% - 50% * cos(146deg)),
        calc(50% + var(--innerR) * sin(148deg)) calc(50% - var(--innerR) * cos(148deg)),
        calc(50% + 50% * sin(150deg)) calc(50% - 50% * cos(150deg)),
        calc(50% + 50% * sin(152deg)) calc(50% - 50% * cos(152deg)),
        calc(50% + var(--innerR) * sin(154deg)) calc(50% - var(--innerR) * cos(154deg)),
        calc(50% + 50% * sin(156deg)) calc(50% - 50% * cos(156deg)),
        calc(50% + 50% * sin(158deg)) calc(50% - 50% * cos(158deg)),
        calc(50% + var(--innerR) * sin(160deg)) calc(50% - var(--innerR) * cos(160deg)),
        calc(50% + 50% * sin(162deg)) calc(50% - 50% * cos(162deg)),
        calc(50% + 50% * sin(164deg)) calc(50% - 50% * cos(164deg)),
        calc(50% + var(--innerR) * sin(166deg)) calc(50% - var(--innerR) * cos(166deg)),
        calc(50% + 50% * sin(168deg)) calc(50% - 50% * cos(168deg)),
        calc(50% + 50% * sin(170deg)) calc(50% - 50% * cos(170deg)),
        calc(50% + var(--innerR) * sin(172deg)) calc(50% - var(--innerR) * cos(172deg)),
        calc(50% + 50% * sin(174deg)) calc(50% - 50% * cos(174deg)),
        calc(50% + 50% * sin(176deg)) calc(50% - 50% * cos(176deg)),
        calc(50% + var(--innerR) * sin(178deg)) calc(50% - var(--innerR) * cos(178deg)),
        calc(50% + 50% * sin(180deg)) calc(50% - 50% * cos(180deg)),
        calc(50% + 50% * sin(182deg)) calc(50% - 50% * cos(182deg)),
        calc(50% + var(--innerR) * sin(184deg)) calc(50% - var(--innerR) * cos(184deg)),
        calc(50% + 50% * sin(186deg)) calc(50% - 50% * cos(186deg)),
        calc(50% + 50% * sin(188deg)) calc(50% - 50% * cos(188deg)),
        calc(50% + var(--innerR) * sin(190deg)) calc(50% - var(--innerR) * cos(190deg)),
        calc(50% + 50% * sin(192deg)) calc(50% - 50% * cos(192deg)),
        calc(50% + 50% * sin(194deg)) calc(50% - 50% * cos(194deg)),
        calc(50% + var(--innerR) * sin(196deg)) calc(50% - var(--innerR) * cos(196deg)),
        calc(50% + 50% * sin(198deg)) calc(50% - 50% * cos(198deg)),
        calc(50% + 50% * sin(200deg)) calc(50% - 50% * cos(200deg)),
        calc(50% + var(--innerR) * sin(202deg)) calc(50% - var(--innerR) * cos(202deg)),
        calc(50% + 50% * sin(204deg)) calc(50% - 50% * cos(204deg)),
        calc(50% + 50% * sin(206deg)) calc(50% - 50% * cos(206deg)),
        calc(50% + var(--innerR) * sin(208deg)) calc(50% - var(--innerR) * cos(208deg)),
        calc(50% + 50% * sin(210deg)) calc(50% - 50% * cos(210deg)),
        calc(50% + 50% * sin(212deg)) calc(50% - 50% * cos(212deg)),
        calc(50% + var(--innerR) * sin(214deg)) calc(50% - var(--innerR) * cos(214deg)),
        calc(50% + 50% * sin(216deg)) calc(50% - 50% * cos(216deg)),
        calc(50% + 50% * sin(218deg)) calc(50% - 50% * cos(218deg)),
        calc(50% + var(--innerR) * sin(220deg)) calc(50% - var(--innerR) * cos(220deg)),
        calc(50% + 50% * sin(222deg)) calc(50% - 50% * cos(222deg)),
        calc(50% + 50% * sin(224deg)) calc(50% - 50% * cos(224deg)),
        calc(50% + var(--innerR) * sin(226deg)) calc(50% - var(--innerR) * cos(226deg)),
        calc(50% + 50% * sin(228deg)) calc(50% - 50% * cos(228deg)),
        calc(50% + 50% * sin(230deg)) calc(50% - 50% * cos(230deg)),
        calc(50% + var(--innerR) * sin(232deg)) calc(50% - var(--innerR) * cos(232deg)),
        calc(50% + 50% * sin(234deg)) calc(50% - 50% * cos(234deg)),
        calc(50% + 50% * sin(236deg)) calc(50% - 50% * cos(236deg)),
        calc(50% + var(--innerR) * sin(238deg)) calc(50% - var(--innerR) * cos(238deg)),
        calc(50% + 50% * sin(240deg)) calc(50% - 50% * cos(240deg)),
        calc(50% + 50% * sin(242deg)) calc(50% - 50% * cos(242deg)),
        calc(50% + var(--innerR) * sin(244deg)) calc(50% - var(--innerR) * cos(244deg)),
        calc(50% + 50% * sin(246deg)) calc(50% - 50% * cos(246deg)),
        calc(50% + 50% * sin(248deg)) calc(50% - 50% * cos(248deg)),
        calc(50% + var(--innerR) * sin(250deg)) calc(50% - var(--innerR) * cos(250deg)),
        calc(50% + 50% * sin(252deg)) calc(50% - 50% * cos(252deg)),
        calc(50% + 50% * sin(254deg)) calc(50% - 50% * cos(254deg)),
        calc(50% + var(--innerR) * sin(256deg)) calc(50% - var(--innerR) * cos(256deg)),
        calc(50% + 50% * sin(258deg)) calc(50% - 50% * cos(258deg)),
        calc(50% + 50% * sin(260deg)) calc(50% - 50% * cos(260deg)),
        calc(50% + var(--innerR) * sin(262deg)) calc(50% - var(--innerR) * cos(262deg)),
        calc(50% + 50% * sin(264deg)) calc(50% - 50% * cos(264deg)),
        calc(50% + 50% * sin(266deg)) calc(50% - 50% * cos(266deg)),
        calc(50% + var(--innerR) * sin(268deg)) calc(50% - var(--innerR) * cos(268deg)),
        calc(50% + 50% * sin(270deg)) calc(50% - 50% * cos(270deg)),
        calc(50% + 50% * sin(272deg)) calc(50% - 50% * cos(272deg)),
        calc(50% + var(--innerR) * sin(274deg)) calc(50% - var(--innerR) * cos(274deg)),
        calc(50% + 50% * sin(276deg)) calc(50% - 50% * cos(276deg)),
        calc(50% + 50% * sin(278deg)) calc(50% - 50% * cos(278deg)),
        calc(50% + var(--innerR) * sin(280deg)) calc(50% - var(--innerR) * cos(280deg)),
        calc(50% + 50% * sin(282deg)) calc(50% - 50% * cos(282deg)),
        calc(50% + 50% * sin(284deg)) calc(50% - 50% * cos(284deg)),
        calc(50% + var(--innerR) * sin(286deg)) calc(50% - var(--innerR) * cos(286deg)),
        calc(50% + 50% * sin(288deg)) calc(50% - 50% * cos(288deg)),
        calc(50% + 50% * sin(290deg)) calc(50% - 50% * cos(290deg)),
        calc(50% + var(--innerR) * sin(292deg)) calc(50% - var(--innerR) * cos(292deg)),
        calc(50% + 50% * sin(294deg)) calc(50% - 50% * cos(294deg)),
        calc(50% + 50% * sin(296deg)) calc(50% - 50% * cos(296deg)),
        calc(50% + var(--innerR) * sin(298deg)) calc(50% - var(--innerR) * cos(298deg)),
        calc(50% + 50% * sin(300deg)) calc(50% - 50% * cos(300deg)),
        calc(50% + 50% * sin(302deg)) calc(50% - 50% * cos(302deg)),
        calc(50% + var(--innerR) * sin(304deg)) calc(50% - var(--innerR) * cos(304deg)),
        calc(50% + 50% * sin(306deg)) calc(50% - 50% * cos(306deg)),
        calc(50% + 50% * sin(308deg)) calc(50% - 50% * cos(308deg)),
        calc(50% + var(--innerR) * sin(310deg)) calc(50% - var(--innerR) * cos(310deg)),
        calc(50% + 50% * sin(312deg)) calc(50% - 50% * cos(312deg)),
        calc(50% + 50% * sin(314deg)) calc(50% - 50% * cos(314deg)),
        calc(50% + var(--innerR) * sin(316deg)) calc(50% - var(--innerR) * cos(316deg)),
        calc(50% + 50% * sin(318deg)) calc(50% - 50% * cos(318deg)),
        calc(50% + 50% * sin(320deg)) calc(50% - 50% * cos(320deg)),
        calc(50% + var(--innerR) * sin(322deg)) calc(50% - var(--innerR) * cos(322deg)),
        calc(50% + 50% * sin(324deg)) calc(50% - 50% * cos(324deg)),
        calc(50% + 50% * sin(326deg)) calc(50% - 50% * cos(326deg)),
        calc(50% + var(--innerR) * sin(328deg)) calc(50% - var(--innerR) * cos(328deg)),
        calc(50% + 50% * sin(330deg)) calc(50% - 50% * cos(330deg)),
        calc(50% + 50% * sin(332deg)) calc(50% - 50% * cos(332deg)),
        calc(50% + var(--innerR) * sin(334deg)) calc(50% - var(--innerR) * cos(334deg)),
        calc(50% + 50% * sin(336deg)) calc(50% - 50% * cos(336deg)),
        calc(50% + 50% * sin(338deg)) calc(50% - 50% * cos(338deg)),
        calc(50% + var(--innerR) * sin(340deg)) calc(50% - var(--innerR) * cos(340deg)),
        calc(50% + 50% * sin(342deg)) calc(50% - 50% * cos(342deg)),
        calc(50% + 50% * sin(344deg)) calc(50% - 50% * cos(344deg)),
        calc(50% + var(--innerR) * sin(346deg)) calc(50% - var(--innerR) * cos(346deg)),
        calc(50% + 50% * sin(348deg)) calc(50% - 50% * cos(348deg)),
        calc(50% + 50% * sin(350deg)) calc(50% - 50% * cos(350deg)),
        calc(50% + var(--innerR) * sin(352deg)) calc(50% - var(--innerR) * cos(352deg)),
        calc(50% + 50% * sin(354deg)) calc(50% - 50% * cos(354deg)),
        calc(50% + 50% * sin(356deg)) calc(50% - 50% * cos(356deg)),
        calc(50% + var(--innerR) * sin(358deg)) calc(50% - var(--innerR) * cos(358deg)),
        calc(50% + 50% * sin(360deg)) calc(50% - 50% * cos(360deg))
          );
}

@font-face {
    font-family: "customFont";
    src: url(Nequila-7Bamw.ttf);
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: #ffe6a7;
}

section{
    container-type: inline-size;
    width: 90%;
    z-index: -1;
}

h1{
    margin: 0;
    font-family: 'customFont', sans-serif;
    font-weight: normal;
    font-size: 4em;
    transform: translateY(80px);
    display:flex;
    justify-content: center;
    align-items: center;
}

h1 span{
    display: inline-block;
    padding: .1em;
}

body:has(input[type="checkbox"]:checked) h1 span{
    animation: bouncy 1s cubic-bezier(.96,.33,.24,1) infinite alternate;

}

body:has(input[type="checkbox"]:checked) h1 span:nth-child(2){
    animation-delay: .6s;
}

body:has(input[type="checkbox"]:checked) h1 span:nth-child(3){
    animation-delay: 1.2s;
}


@keyframes bouncy{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-80px);
}
}

@container (max-width: 594px) {
    h1{
        font-size: 3em;
    }
}

@container (max-width: 500px){
    h1{
        display:flex;
        flex-direction: column;
        justify-self: flex-start;
        transform: translateY(0px);
        transform: translateX(-200px);
    }

    h1 span{
        padding: 0;
        margin: -.2em;
    }

    body:has(input[type="checkbox"]:checked) h1 span{
        animation: bouncy2 1s cubic-bezier(.96,.33,.24,1) infinite alternate;
    }

    body:has(input[type="checkbox"]:checked) h1 span:nth-child(2){
        animation-delay: .6s;
    }
    
    body:has(input[type="checkbox"]:checked) h1 span:nth-child(3){
        animation-delay: 1.2s;
    }

    @keyframes bouncy2{
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(200px);
    }
    }

}


/* Base platenspeler */
body > div:nth-of-type(1) {
  background-color: var(--body-speler-kleur);
  width: 53em;
  height: 80vh;
  border-radius: 0.2em;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 20% 60% 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: 0 1px 5px black;
  container-type: inline-size;
}

/* LP plaat nesting*/
body div div:nth-of-type(1) {
    background-color: var(--draaiplaat-kleur);
    width: 28em;
    height: 28em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 1 / span 3;
  
    /* LP plaat zelf */
    div {
      width: 97%;
      height: 97%;
      background-color: var(--lp-kleur);
  
      /* Sticker LP plaat */
      div {
        width: 30%;
        height: 30%;
        background-image: url('images/beatles.jpeg');
        background-size: cover;
        animation: turn var(--snelheid-plaat) linear infinite;
        animation-play-state: paused;
        transition: all 0.5s ease;
  
        /* LP hole */
        div {
          width: 10%;
          height: 10%;
          background: #000;
        }
      }
    }
  }

/* Input type voor de on/off button */
input[type="checkbox"] {
  appearance: none;
  align-self: center;
  justify-self: center;
}

input[type="checkbox"]::before {
  content: "⏻";
  background-color: rgb(184, 184, 184);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 3px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 56, 56);
  transition: box-shadow 0.2s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

input[type="checkbox"]:checked::before {
  color: rgb(0, 255, 0);
  box-shadow: inset 0 1px 5px black;
  background-color: rgb(184, 184, 184);
}

/* Sticker van lp plaat wordt gedraaid zodra knop aan gedrukt is */
body div:has(input[type="checkbox"]:checked) div:nth-of-type(1) div div {
  animation-play-state: running;
  transition: all 0.5s ease; /* Voeg de overgang toe */
}

/* Rotate animatie */
@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* opties voor RPM */
body div div:nth-of-type(2) {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: var(--kleur-opties);
  display: grid;
  align-self: center;
  width: 80%;
  height: 11em;
  border-radius: 0.2em;
  z-index: 10;
  box-shadow: 0 1px 5px black;
  color: white;
}

/* De snelheid van de plaat wordt aangepast door de radio buttons */
body:has(input[type="radio"]:nth-of-type(1):checked)
  div:nth-of-type(1)
  div
  div {
  --snelheid-plaat: 3s;
  --sound-speed1: 6.5s;
  --sound-speed2: 7s;
}

body:has(input[type="radio"]:nth-of-type(2):checked)
  div:nth-of-type(1)
  div
  div {
  --snelheid-plaat: 2s;
  --sound-speed1: 5s;
  --sound-speed2: 4.5s;
}

body:has(input[type="radio"]:nth-of-type(3):checked)
  div:nth-of-type(1)
  div
  div {
  --snelheid-plaat: 1s;
  --sound-speed1: 3s;
  --sound-speed2: 2.7s;
}

/* De knoppen voor de verschillende snelheden */
body div div:nth-of-type(2) form {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input[type="radio"] {
    width: 2em;
    height: 2em;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

body div div:nth-of-type(2) form div {
    max-height: 9em;
    width: 2em;
    background-color: lightgrey;
    position: absolute;
    height: 100%;
    border-radius: .2em;
    box-shadow: none;
    box-shadow: inset 0 0 6px black;
}

/* Knop voor RPM */
body div div:nth-of-type(2) form div div {
    width: 1.3em;
    height: 1.3em;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease-in;
    box-shadow: 0 1px 5px black;
    z-index: 5;

}

/* knopje voor RPM animatie */
body:has(input[type="radio"]:nth-of-type(1):checked) div form div div:nth-of-type(1) {
    transform: translate(-50%, -50%) translateY(-3.5em);
  }
  
  body:has(input[type="radio"]:nth-of-type(2):checked) div form div div:nth-of-type(1) {
    transform: translate(-50%, -50%) translateY(0);
  }
  
  body:has(input[type="radio"]:nth-of-type(3):checked) div form div div:nth-of-type(1) {
    transform: translate(-50%, -50%) translateY(3.5em);
  }


  /* text voor de rpm opties */
  body div div:nth-of-type(2) ul {
    list-style: none;
    width: 80%;
    height: 95%;
    display:flex;
    justify-content: space-around;
    align-self: center;
    flex-direction: column;
    margin-left: -2.5em;
}

  body div div:nth-of-type(2) ul{
    text-align: left;
  }

  /* Min en plusjes in de schuif bar */
  body div div form div div:nth-of-type(2){
    color: darkgrey;
    position: absolute;
    top: 10%;
    left: 83%;
    font-size: xx-large;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    grid-column: 1 / span 2;
    z-index: 3;
  }

  body div div form div div:nth-of-type(3){
    color: darkgrey;
    position: absolute;
    top: 47%;
    font-size: xx-large;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    grid-column: 1 / span 2;
    z-index: 3;
  }

  body div div form div div:nth-of-type(4){
    color: darkgrey;
    position: absolute;
    top: 50%;
    left: 83%;
    font-size: larger;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    grid-column: 1 / span 2;
    z-index: 3;
  }


  body div div form div div:nth-of-type(5){
    color: darkgrey;
    top: 90%;
    left: 83%;
    font-size: larger;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    grid-column: 1 / span 2;
    z-index: 3;
  }

  /* zichtbaar en onzichtbaar maken van de plusjes en minnetjes in het midden */
  body:has(input[type="radio"]:nth-of-type(1):checked) div form div div:nth-of-type(3){
    opacity: 0;
  }

  body:has(input[type="radio"]:nth-of-type(3):checked) div form div div:nth-of-type(4){
    opacity: 0;
  }

/* sound control nesting */
body div div:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    div {
      width: 3em;
      height: 15em;
      background-color: var(--kleur-opties);
      border-radius: .3em;
  
      div {
        height: 13em;
        width: .8em;
        background-color: white;
        border-radius: 0;
        box-shadow: none;
        margin: 1px;
  
        &:nth-of-type(1) div {
          height: var(--volume);
          margin: 0;
          background-image: linear-gradient(
            to bottom,
            hsl(120, 100%, 50%),
            hsl(60, 100%, 50%),
            hsl(0, 100%, 50%)
          );
          align-self: flex-end;
          animation: sound var(--sound-speed1) infinite;
          animation-play-state: paused;
        }
  
        &:nth-of-type(2) div {
          height: var(--volume);
          margin: 0;
          background-image: linear-gradient(
            to bottom,
            hsl(120, 100%, 50%),
            hsl(60, 100%, 50%),
            hsl(0, 100%, 50%)
          );
          align-self: flex-end;
          animation: sound2 var(--sound-speed2) infinite;
          animation-play-state: paused;
        }
      }
    }
  }

  body:has(input[type="checkbox"]:checked) div div:nth-of-type(3) div div:nth-of-type(1) div{
    animation-play-state: running;
  }

  body:has(input[type="checkbox"]:checked) div div:nth-of-type(3) div div:nth-of-type(2) div{
    animation-play-state: running;
  }

  @keyframes sound {
    0% { height: calc(var(--volume) * 1 * 1%); }
    5% { height: calc(var(--volume) * 0.6 * 1%); }
    7% { height: calc(var(--volume) * 0.9 * 1%); }
    15% { height: calc(var(--volume) * 0.55 * 1%); }
    18% { height: calc(var(--volume) * 0.75 * 1%); }
    26% { height: calc(var(--volume) * 0.45 * 1%); }
    30% { height: calc(var(--volume) * 1 * 1%); }
    35% { height: calc(var(--volume) * 0.6 * 1%); }
    37% { height: calc(var(--volume) * 0.9 * 1%); }
    45% { height: calc(var(--volume) * 0.55 * 1%); }
    48% { height: calc(var(--volume) * 0.75 * 1%); }
    56% { height: calc(var(--volume) * 0.45 * 1%); }
    60% { height: calc(var(--volume) * 1 * 1%); }
    65% { height: calc(var(--volume) * 0.6 * 1%); }
    67% { height: calc(var(--volume) * 0.9 * 1%); }
    75% { height: calc(var(--volume) * 0.55 * 1%); }
    78% { height: calc(var(--volume) * 0.75 * 1%); }
    86% { height: calc(var(--volume) * 0.45 * 1%); }
    90% { height: calc(var(--volume) * 1 * 1%); }
    95% { height: calc(var(--volume) * 0.6 * 1%); }
    97% { height: calc(var(--volume) * 0.9 * 1%); }
    100% { height: calc(var(--volume) * 1 * 1%); }
  }

  @keyframes sound2 {
    0% { height: calc(var(--volume) * 0.9 * 1%); }
    5% { height: calc(var(--volume) * 0.5 * 1%); }
    7% { height: calc(var(--volume) * 0.8 * 1%); }
    15% { height: calc(var(--volume) * 0.45 * 1%); }
    18% { height: calc(var(--volume) * 0.65 * 1%); }
    26% { height: calc(var(--volume) * 0.35 * 1%); }
    30% { height: calc(var(--volume) * 0.9 * 1%); }
    35% { height: calc(var(--volume) * 0.5 * 1%); }
    37% { height: calc(var(--volume) * 0.8 * 1%); }
    45% { height: calc(var(--volume) * 0.45 * 1%); }
    48% { height: calc(var(--volume) * 0.65 * 1%); }
    56% { height: calc(var(--volume) * 0.35 * 1%); }
    60% { height: calc(var(--volume) * 0.9 * 1%); }
    65% { height: calc(var(--volume) * 0.5 * 1%); }
    67% { height: calc(var(--volume) * 0.8 * 1%); }
    75% { height: calc(var(--volume) * 0.45 * 1%); }
    78% { height: calc(var(--volume) * 0.65 * 1%); }
    86% { height: calc(var(--volume) * 0.35 * 1%); }
    90% { height: calc(var(--volume) * 0.9 * 1%); }
    95% { height: calc(var(--volume) * 0.5 * 1%); }
    97% { height: calc(var(--volume) * 0.8 * 1%); }
    100% { height: calc(var(--volume) * 0.9 * 1%); }
  }

  @media (max-width: 880px) {
    body div:nth-of-type(1) {
        width: 96%;
    }

    body div div:nth-of-type(1) {
        width: 88%;
        aspect-ratio: 1;
        height: auto;
    }
  }

  @media (max-width: 660px){
    body div:nth-of-type(1) {
        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: 20% 1fr 40%;
    }

    body div div:nth-of-type(1) {
        grid-row: 1 / span 2;
        grid-column: 2;
        width: 18em;
        height: 18em;
    }

    body div div:nth-of-type(2) {
        grid-row: 3;
        grid-column: 2;
        width: 9em;
        justify-self: center;
    }
  }

  @container (max-width: 400px){
    body div div:nth-of-type(1){
        width: 90%;
        aspect-ratio: 1;
        height: auto;
    }
  }

  body div div:nth-of-type(3) label {
	--size-label:3em;
	--size-track:calc( var(--size-label) / 8 );
	--size-thumb:calc( var(--size-label) / 8 );
	--angle:90deg;
	--thumb-color:white;
	
	width:var(--size-label);
	height:var(--size-label);
    margin-top: 1em;
	position:relative;
	
	/* TRACK */
	border-radius:50%;
	background-image:
		conic-gradient(
			from 360deg,
			black,
			black
		);


        --rotation: calc(var(--volume) * 1.9deg);
}

/* THUMB */
body div div:nth-of-type(3) label::before {
	content:"";
	position:absolute;
	inset:0;
	margin: .1em;
    z-index: 10;

    --width-thumb:8deg;
	
	--angle-thumb:calc( var(--angle) * -1 + var(--angle) * 2 * var(--volume) / 100 -  var(--width-thumb) / 2  );
	
    background-image:
        conic-gradient(
            from var(--angle-thumb),
            var(--thumb-color) var(--width-thumb),
            transparent 0 360deg
        );

	mask:
		radial-gradient(
			closest-side,
			#0000 calc(100% - var(--size-thumb) - (var(--size-track) - var(--size-thumb)) * .5 ),
			red 0 calc(100% - (var(--size-track) - var(--size-thumb)) * .5 ),
			#0000 0
		);
}

/* De ribbels test */
body div div:nth-of-type(3) label::after {
    content: '';
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: rgb(29, 29, 29);
    clip-path: var(--thingie12);
  background: radial-gradient(circle, #222 20%, #000 80%);
  border-radius: 50%;
  box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.2),
              inset 4px 4px 6px rgba(0, 0, 0, 0.8),
              2px 2px 6px rgba(0, 0, 0, 0.7);


    top: -8px;
    left: -8px;
    transform: rotate(var(--rotation)); /* Werkt nu */
    transform-origin: center;
}

/* THE RANGE */
body div div:nth-of-type(3) label input {
	appearance:none;
	margin:0;
	display:block;
	position:absolute;
	inset:0;
	z-index:10;
	background:transparent;
}

::-webkit-slider-runnable-track {	
	height:100%;
}

::-webkit-slider-thumb {
	appearance:none;
	width:var(--size-track);
	height:100%;
}