:root {
  --draaiplaat-kleur: grey;
  --lp-kleur: #000;
  --body-speler-kleur: hsl(35, 50%, 70%);
  --snelheid-plaat: 1s;
  /* --sound-height: 100%; */
  --sound-hoogte-2: 60%;
  --sound-speed1: 5s;
  --sound-speed2: 4.5s;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Base platenspeler */
body div:nth-of-type(1) {
  background-color: var(--body-speler-kleur);
  width: 60%;
  height: 80vh;
  border-radius: 0.2em;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 20% 60% 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: 0 1px 5px black;
}

/* Onderplaat */
body div div:nth-of-type(1) {
  background-color: var(--draaiplaat-kleur);
  width: 28em;
  height: 28em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  grid-column: 2;
  grid-row: 1 / span 3;
}

/* LP plaat zelf */
body  div  div:nth-of-type(1)  div {
  width: 97%;
  height: 97%;
  background-color: var(--lp-kleur);


}

/* Sticker LP plaat */
body > div > div:nth-of-type(1) div div {
  width: 30%;
  height: 30%;
  background-image: linear-gradient(blue, red);
  animation: turn var(--snelheid-plaat) linear infinite;
  animation-play-state: paused;
  transition: all 0.5s ease;
}

/* LP hole */
body div div:nth-of-type(1) div div div {
  width: 10%;
  height: 10%;
  background: #000;
}

/* Input type voor de on/off button */
input[type="checkbox"] {
  appearance: none;
  align-self: center;
  justify-self: center;
}

input[type="checkbox"]::before {
  content: "⏻";
  background-color: rgb(184, 184, 184);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 3px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 56, 56);
  transition: box-shadow 0.2s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

input[type="checkbox"]:checked::before {
  color: rgb(0, 255, 0);
  box-shadow: inset 0 1px 5px black;
  background-color: rgb(184, 184, 184);
}

/* Sticker van lp plaat wordt gedraaid zodra knop aan gedrukt is */
body div:has(input[type="checkbox"]:checked) div:nth-of-type(1) div div {
  animation-play-state: running;
  transition: all 0.5s ease; /* Voeg de overgang toe */
}

/* Rotate animatie */
@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* opties voor RPM */
body div div:nth-of-type(2) {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: rgb(23, 23, 23);
  width: 15em;
  height: 30em;
  display: grid;
  align-self: center;
  width: 9em;
  height: 11em;
  border-radius: 0.2em;
  z-index: 10;
  box-shadow: 0 1px 5px black;
  color: white;
}

/* De snelheid van de plaat wordt aangepast door de radio buttons */
body:has(input[type="radio"]:nth-of-type(1):checked)
  div:nth-of-type(1)
  div
  div {
  --snelheid-plaat: 3s;

  --sound-speed1: 6.5s;
  --sound-speed2: 7s;

}

body:has(input[type="radio"]:nth-of-type(2):checked)
  div:nth-of-type(1)
  div
  div {
  --snelheid-plaat: 1s;

  --sound-speed1: 5s;
  --sound-speed2: 4.5s;
}

body:has(input[type="radio"]:nth-of-type(3):checked)
  div:nth-of-type(1)
  div
  div {
  --snelheid-plaat: 0.1s;

  --sound-speed1: 3s;
  --sound-speed2: 2.7s;

}

/* De knoppen voor de verschillende snelheden */
body div div:nth-of-type(2) form {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input[type="radio"] {
    width: 2em;
    height: 2em;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

body div div:nth-of-type(2) form div {
    max-height: 9em;
    width: 2em;
    background-color: lightgrey;
    position: absolute;
    height: 100%;
    border-radius: .2em;
    box-shadow: none;
    box-shadow: inset 0 0 6px black;
}

/* Knop voor RPM */
body div div:nth-of-type(2) form div div {
    width: 1.3em;
    height: 1.3em;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease-in;
    box-shadow: 0 1px 5px black;
    z-index: 5;

}

/* knopje voor RPM animatie */
body:has(input[type="radio"]:nth-of-type(1):checked) div form div div:nth-of-type(1) {
    transform: translate(-50%, -50%) translateY(-3.5em);
  }
  
  body:has(input[type="radio"]:nth-of-type(2):checked) div form div div:nth-of-type(1) {
    transform: translate(-50%, -50%) translateY(0);
  }
  
  body:has(input[type="radio"]:nth-of-type(3):checked) div form div div:nth-of-type(1) {
    transform: translate(-50%, -50%) translateY(3.5em);
  }


  /* text voor de rpm opties */
  body div div:nth-of-type(2) ul {
    list-style: none;
    width: 80%;
    height: 95%;
    display:flex;
    justify-content: space-around;
    align-self: center;
    flex-direction: column;
    margin-left: -2.5em;

}

  body div div:nth-of-type(2) ul{
    text-align: left;
  }

  /* Min en plusjes in de schuif bar */
  body div div form div div:nth-of-type(2){
    color: darkgrey;
    position: absolute;
    top: 10%;
    left: 83%;
    font-size: xx-large;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    grid-column: 1 / span 2;
    z-index: 3;
  }

  body div div form div div:nth-of-type(3){
    color: darkgrey;
    position: absolute;
    top: 47%;
    font-size: xx-large;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    grid-column: 1 / span 2;
    z-index: 3;
  }

  body div div form div div:nth-of-type(4){
    color: darkgrey;
    position: absolute;
    top: 50%;
    left: 83%;
    font-size: larger;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    grid-column: 1 / span 2;
    z-index: 3;
  }


  body div div form div div:nth-of-type(5){
    color: darkgrey;
    top: 90%;
    left: 83%;
    font-size: larger;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    grid-column: 1 / span 2;
    z-index: 3;
  }

  /* zichtbaar en onzichtbaar maken van de plusjes en minnetjes in het midden */
  body:has(input[type="radio"]:nth-of-type(1):checked) div form div div:nth-of-type(3){
    opacity: 0;
  }

  body:has(input[type="radio"]:nth-of-type(3):checked) div form div div:nth-of-type(4){
    opacity: 0;
  }

/* sound control */
  body div div:nth-of-type(3){
    grid-column: 1 ;
    grid-row: 2 / span 2;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  body div div:nth-of-type(3) div{
    width: 3em;
    height: 15em;
    background-color: black;
    border-radius: .3em;

  }

  body div div:nth-of-type(3) div div{
    height: 13em;
    width: .8em;
    background-color: white;
    border-radius: 0;
    box-shadow: none;
    margin: 1px;

  }

  body div div:nth-of-type(3) div div:nth-of-type(1) div{
    height: var(--sound);
    margin: 0;
    background-image: linear-gradient(
    to bottom,
    hsl(120, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(0, 100%, 50%)
);
    align-self: flex-end;
    animation: sound var(--sound-speed1) infinite;
    animation-play-state: paused;
  } 


  body:has(input[type="checkbox"]:checked) div div:nth-of-type(3) div div:nth-of-type(1) div{
    animation-play-state: running;
  }


  body div div:nth-of-type(3) div div:nth-of-type(2) div{
    height: var(--sound);
    margin: 0;
    background-image: linear-gradient(
        to bottom,
        hsl(120, 100%, 50%),
        hsl(60, 100%, 50%),
        hsl(0, 100%, 50%)
    );
    align-self: flex-end;
    animation: sound2 var(--sound-speed2) infinite;
    animation-play-state: paused;
  } 

  body:has(input[type="checkbox"]:checked) div div:nth-of-type(3) div div:nth-of-type(2) div{
    animation-play-state: running;
  }

  @keyframes sound {
    0% { height: calc(var(--sound) * 1); }
    5% { height: calc(var(--sound) * 0.6); }
    7% { height: calc(var(--sound) * 0.9); }
    15% { height: calc(var(--sound) * 0.55); }
    18% { height: calc(var(--sound) * 0.75); }
    26% { height: calc(var(--sound) * 0.45); }
    30% { height: calc(var(--sound) * 1); }
    35% { height: calc(var(--sound) * 0.6); }
    37% { height: calc(var(--sound) * 0.9); }
    45% { height: calc(var(--sound) * 0.55); }
    48% { height: calc(var(--sound) * 0.75); }
    56% { height: calc(var(--sound) * 0.45); }
    60% { height: calc(var(--sound) * 1); }
    65% { height: calc(var(--sound) * 0.6); }
    67% { height: calc(var(--sound) * 0.9); }
    75% { height: calc(var(--sound) * 0.55); }
    78% { height: calc(var(--sound) * 0.75); }
    86% { height: calc(var(--sound) * 0.45); }
    90% { height: calc(var(--sound) * 1); }
    95% { height: calc(var(--sound) * 0.6); }
    97% { height: calc(var(--sound) * 0.9); }
    100% { height: calc(var(--sound) * 1); }
  }

  @keyframes sound2 {
    0% { height: calc(var(--sound) * 0.9); }
    5% { height: calc(var(--sound) * 0.5); }
    7% { height: calc(var(--sound) * 0.8); }
    15% { height: calc(var(--sound) * 0.45); }
    18% { height: calc(var(--sound) * 0.65); }
    26% { height: calc(var(--sound) * 0.35); }
    30% { height: calc(var(--sound) * 0.9); }
    35% { height: calc(var(--sound) * 0.5); }
    37% { height: calc(var(--sound) * 0.8); }
    45% { height: calc(var(--sound) * 0.45); }
    48% { height: calc(var(--sound) * 0.65); }
    56% { height: calc(var(--sound) * 0.35); }
    60% { height: calc(var(--sound) * 0.9); }
    65% { height: calc(var(--sound) * 0.5); }
    67% { height: calc(var(--sound) * 0.8); }
    75% { height: calc(var(--sound) * 0.45); }
    78% { height: calc(var(--sound) * 0.65); }
    86% { height: calc(var(--sound) * 0.35); }
    90% { height: calc(var(--sound) * 0.9); }
    95% { height: calc(var(--sound) * 0.5); }
    97% { height: calc(var(--sound) * 0.8); }
    100% { height: calc(var(--sound) * 0.9); }
  }
  


  @media (max-width: 1250px) {
    body div:nth-of-type(1) {
        width: 70%;
    }
  }

  @media (max-width: 1070px) {
    body div:nth-of-type(1) {
        width: 90%;
    }
  }


  @media (max-width: 830px) {
    body{
        align-items: start;
        margin: 1em;
    }

    body div:nth-of-type(1) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 20% repeat(2, 1fr);
        height: 150%;
    }

    /* lp plaat */
    body div div:nth-of-type(1) {
        grid-area: 2 / 1 / 3 / 3;
    }

    /* RPM opties */
    body div div:nth-of-type(2){
        grid-area: 3 / 2 / 4 / 3;
    }

    /* Sound opties */
    body div div:nth-of-type(3){
        grid-area: 3 / 1 / 4 / 2;
    }
  }